<dx-data-grid id="gridContainer" [dataSource]="masterDataSource" [showBorders]="true">
    <dxi-column dataField="OrderID"></dxi-column>
    <dxi-column dataField="CustomerID"></dxi-column>
    <dxi-column dataField="OrderDate"></dxi-column>
    <dxi-column dataField="ShipName"></dxi-column>
    <dxi-column dataField="ShipAddress"></dxi-column>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
    <div *dxTemplate="let order of 'detail'">
        <detail-grid [key]="order.key"></detail-grid>
    </div>
</dx-data-grid>