<dx-data-grid [dataSource]="detailDataSource" [showBorders]="true" [columnAutoWidth]="true">
    <dxi-column dataField="Subject" dataType="string"></dxi-column>
    <dxi-column dataField="StartDate" dataType="date"></dxi-column>
    <dxi-column dataField="DueDate" dataType="date"></dxi-column>
    <dxi-column dataField="Priority" dataType="string"></dxi-column>
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>
    <dxi-column caption="Completed" dataType="boolean" [calculateCellValue]="completedValue"></dxi-column>
</dx-data-grid>