<dx-drop-down-box [(value)]="gridBoxValue" valueExpr="id" displayExpr="text" placeholder="Select a value..."
    [showClearButton]="true" [dataSource]="gridDataSource">
    <div *dxTemplate="let data of 'content'">
        <dx-data-grid [dataSource]="gridDataSource" [columns]="['text', 'age', 'discipline']"
            [selection]="{ mode: 'multiple' }" [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }" [scrolling]="{ mode: 'virtual' }" [height]="200"
            [(selectedRowKeys)]="gridBoxValue" (onSelectionChanged)='onSelectionChanged($event)'>
        </dx-data-grid>
    </div>
</dx-drop-down-box>

<dx-scheduler #scheduler [dataSource]="appointments" [groups]="['userId']" textExpr='text' allDayExpr="dayLong"
    [resources]='resources' recurrenceRuleExpr="recurrence" [firstDayOfWeek]="1" [startDayHour]="8" [endDayHour]='20'
    [currentDate]="currentDate" [views]="['month', 'timelineWeek', 'agenda']" currentView="month" [cellDuration]="60"
    [height]="580">
    <dxo-editing [allowDragging]="false" [allowTimeZoneEditing]="true"></dxo-editing>
</dx-scheduler>